.profile {
  width: 100%;
  .user-profile {
    margin: 0.6% 15%;
    background-color: black;
    padding: 1% 3%;
    .user-credentials {
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      .user-profile-image-container {
        width: 75px;
        height: 75px;
        margin-right: 0.4rem;
        .user-profile-image {
          width: 75px;
          height: 75px;
          object-fit: cover;
          border-radius: 100%;
        }
        input {
          opacity: 0;
          position: absolute;
        }
      }
      .text-container {
        display: block;
        align-items: center;
        justify-content: center;
      }
      .text {
        font-size: 1.6rem;
      }
    }
    .user-post-container {
      padding: 0.5rem;
      background-color: #fff;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      .user-post-menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .menu {
          padding: 0.7rem;
          width: 25%;
          background-color: blue;
          color: white;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .active {
          background-color: black;
          color: white;
        }
      }
      .posts {
        margin-right: 15%;
        margin-left: 15%;
      }
      .deletepost-button {
        padding: 0.7rem;
        background-color: red;
        color: white;
        max-width: 15%;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        position: relative;
        cursor: pointer;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.479);
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
  }
}
@media (max-width: 991px) {
  .profile {
    .user-profile {
      margin: 0.4% 10%;
      .user-credentials {
        .text {
          font-size: 1.2rem;
        }
      }
      .user-post-container {
        .user-post-menu {
          .menu {
            width: 50%;
          }
        }
        .posts {
          margin-right: 5%;
          margin-left: 5%;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .profile {
    .user-profile {
      margin: 0.2% 5%;
      .user-credentials {
        .text {
          font-size: 1rem;
        }
      }
      .user-post-container {
        .posts {
          margin-right: 0%;
          margin-left: 0%;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .profile {
    .user-profile {
      margin: 0% 0%;
    }
  }
}
