//posts
.posts {
  background-color: green;
  width: auto;
  margin: 2% 25%; //this margin is used to decrease the margin of the whole container
  padding: 1rem 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.479);
  //post content title and image and text
  .post-content {
    .postImage {
      width: 100%;
      object-fit: fill;
    }
    .post-text-holder {
      text-align: justify;
      .post-title {
        font-size: 2rem;
        text-decoration: underline;
        margin: 0.3rem 0;
        color: black;
      }
      .post-text-content {
        color: black;
        line-height: 1.5;
        a {
          margin-left: 0.3rem;
          text-decoration: none;
          color: white;
          transition: all 0.3s ease;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
  //post details
  .post-details {
    margin: 1rem 0;
    width: 100%;
    //post details top which container author image,nickName, time ,like and like, views and dislikes
    .post-details-top {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: space-between;
      .author-details-holder {
        display: flex;
        align-items: center;
        .author-image {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-color: black;
          overflow: hidden;
          //image of the author
          .image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            cursor: pointer;
            transition: all 0.3s ease;
          }
        }
        .author-details {
          margin-left: 0.4rem;
          .nick-name {
            .text {
              font-size: 1.2rem;
              color: black;
              text-decoration: none;
              font-weight: bold;
              transition: all 0.3s ease;
            }
            .text:hover {
              color: white;
            }
          }
          .time {
            color: rgb(32, 29, 29);
            text-transform: capitalize;
          }
        }
      }
      .like-details {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        cursor: pointer;
        //icon-style
        .icon {
          color: black;
          display: flex;
          font-size: 1.25rem;
          transition: all 0.3s ease;
          &:not(:last-child) {
            margin-right: 0.6rem;
          }
          .icon-text {
            margin-left: 0.2rem;
            transform: translate(2px, -2px);
          }
        }
        .icon:hover {
          color: white;
        }
      }
    }
    //post details bottom which has tags only
    .post-details-bottom {
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      margin-top: 0.3rem;
      .tagTitle {
        font-size: 1.3rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
      }
      .tag-holder {
        .tags {
          font-size: 1rem;
          display: inline-block;
          padding: 0.3rem;
          margin: 0 0.2rem;
          margin-top: 0.3rem;
          border-radius: 0.5rem;
          background-color: black;
          text-decoration: none;
          transition: all 0.3s ease;
        }
        .tags:hover {
          color: black;
          background-color: white;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .posts {
    margin: 2% 20%;
  }
}

@media (max-width: 991px) {
  .posts {
    margin: 2% 15%;
  }
}
@media (max-width: 880px) {
  .posts {
    margin: 2% 10%;
    .post-details {
      .post-details-top {
        .like-details {
          .icon {
            font-size: 1rem;
            &:not(:last-child) {
              margin-right: 0.3rem;
            }
            .icon-text {
              margin: 0.1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 766px) {
  .posts {
    .post-details {
      flex-direction: column;
      .post-details-top {
        align-items: center;
        .author-details-holder {
          justify-content: center;
        }
        .like-details {
          width: 100%;
          justify-content: space-between;
          margin: 0.5rem 0 0 0;
          align-items: center;
          padding: 0 5%;
          .icon {
            font-size: 1.4rem;
            &:not(:last-child) {
              margin-right: 0.3rem;
            }
            .icon-text {
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .posts {
    margin: 2% 6%;
  }
}

@media (max-width: 400px) {
  .posts {
    .post-details {
      flex-direction: column;
      .post-details-top {
        align-items: center;
        .author-details-holder {
          justify-content: center;
        }
        .like-details {
          .icon {
            font-size: 1.1rem;
            &:not(:last-child) {
              margin-right: 0.1rem;
            }
            .icon-text {
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 350px) {
  .posts {
    margin: 2% 0%;
    .post-details {
      flex-direction: column;
      .post-details-top {
        align-items: center;
        .author-details-holder {
          justify-content: center;
        }
        .like-details {
          .icon {
            font-size: 1rem;
            &:not(:last-child) {
              margin-right: 0.1rem;
            }
            .icon-text {
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }
}
