@import "./styles_modules/bootstrap.scss";
@import "./styles_modules/reset.scss";
@import "./PageSass/Index.scss";
@import "./PageSass/Compose.scss";
@import "./styles_modules/basics.scss";
@import "./Component/Navbar.scss";
@import "./Component/Posts.scss";
@import "./Component/Loading.scss";
@import "./Component/Editor.scss";
