body {
  background-color: $primary;
  overflow-x: hidden;
}
//scroll bar track
body::-webkit-scrollbar {
  background-color: $scrollbar-bg !important;
  width: 10px !important;
}
//scrollbar
body::-webkit-scrollbar-thumb {
  background-color: $green !important;
  border-radius: 5px !important;
}
//modal
.modal-backdrop {
  background-color: $box-shadow !important;
}
//prevent user to copy text
.copy-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
//used to center text
.text-center {
  text-align: center;
}
//used to center the element to page center
.page-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.error-text {
  color: red;
  font-weight: bold;
  text-align: center;
}
