$primary: #e4f9f5;
$light-green: #53f1dc;
$green: rgb(17, 153, 158);
$dark-green: rgb(64, 81, 78);
$scrollbar-bg: #bdfff6;
$box-shadow: rgba(57, 59, 59, 0.465);
$place-holder: rgba(107, 107, 107, 0.781);
$content: rgba(35, 35, 35, 1);
$icon: rgb(10, 90, 90);
$red: rgb(255, 0, 0);
